nav{
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    display: grid;
    place-items: center;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue) 68%, 42%, 20%);
    transition: var(--transition);
}
.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.nav__menu{
    display: flex;
    gap: 3.5rem;
}
.nav__menu a{
    color: #fff;
}
.theme__icon{
    background: transparent;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

/* media queries for tablets */
@media screen and (max-width: 1024px) {
    .nav__menu{
        display: none;
    }
}